<!-- carousel -->
<div class="carousel">
@for(slide of slides; track slide; let index = $index) {
    @if(index === currentSlide()) {
        <img
        [src]="slide.imageUrl"
        [@slideAnimation]="animationType"
        class="slide"/>
      }
}
    <!-- controls -->
    <button class="control prev" (click)="onPreviousClick()">
      <span class="arrow left"></span>
    </button>
    <button class="control next" (click)="onNextClick()">
      <span class="arrow right"></span>
    </button>
  </div>