<div class="explore-container">
    <div class="image-container">
        <img src="../../../../assets/images/welcome-image-1.webp" alt="Stylish Men's Clothing" />
    </div>
    <div class="welcome-section">
        <div class="content-text">
            <h2>WELCOME</h2>
            <h1>StylishWelco</h1>
            <h3>Men's Clothing for Every Occasion</h3>
            <p>Elevate your wardrobe with our latest collections.</p>
            <button style="cursor: pointer !important;" (click)="navigateToShop()">SHOP NOW</button>
        </div>
    </div>
</div>