@if(imageWithTagLine) {
    <div class="explore-container">
        <div class="image-container">
          <img 
            [src]="imageWithTagLine.imageSrc" 
            [alt]="imageWithTagLine.imageAlt" />
        </div>
        <div class="welcome-section">
          <div class="content-text">
            <h2>{{ imageWithTagLine.heading }}</h2>
            <h1>{{ imageWithTagLine.subheading }}</h1>
            <h3>{{ imageWithTagLine.tagline }}</h3>
            <p>{{ imageWithTagLine.description }}</p>
            <button 
              style="cursor: pointer !important;" 
              (click)="navigateToShop()">
              {{ imageWithTagLine.buttonLabel }}
            </button>
          </div>
        </div>
      </div>
}

